@model TaxesProjecte.Models.citizen

@{
    ViewBag.Title = "Giriş";
}

<style>

    fieldset {
        margin-left: 40%;
        margin-bottom: 80px;
        padding: 50px;
        /*buradan istedigimiz tasarimi css ile yapabiliriz...*/
    }

    .header{
        position:absolute;
        top: 50%;
        left: 50%;
        width:40em;
        height:28em;
        margin-top: -14em; /*set to a negative number 1/2 of your height*/
        margin-left: -20em; /*set to a negative number 1/2 of your width*/
        
        -webkit-border-radius: 10px;
        -moz-border-radius: 10px;
        border-radius: 10px;

        padding:10px;
       
        background-color:#FFFFFF;
        webkit-box-shadow: 2px 2px 39px 1px rgba(0,0,0,0.75);
        -moz-box-shadow: 2px 2px 39px 1px rgba(0,0,0,0.75);
         box-shadow: 2px 2px 39px 1px rgba(0,0,0,0.75);
    }


    .btn{
        margin-bottom: -73px;
        
    }
    .btn-primary{
        width: 80px;
        margin-left:  170px;
       background-color:#0165B4
    }
    .alt-header{
        position: absolute;
        top: 50%;
        left: 50%;
        width: 38em;
        height: 19em;
        border-style: groove;
        margin-top: -8.5em;
        margin-left: -19em;
        padding-top: 15%;
        padding-left: 12%;

       -webkit-border-radius: 10px;
        -moz-border-radius: 10px;
        border-radius: 10px;
        border: 2px solid rgb(195, 243, 253 );
        border: 2px solid rgb(195, 243, 253, .5);

    }

    p{
        font-weight: bold;
        font-size: 1.2em;
        float: right;
        margin-right:180px;
        margin-top: 20px;
        font-family: Arial, Helvetica, sans-serif;
    }

    h3{
        font-weight: 500;
        font-size: 0.89em;
        float: right;
        margin-right: 258px;
        margin-top: -33px;
    }

    h4{
        font-size: 85%;
        color: #a8acae;
        font-weight: 400;
        font-family: 'Open Sans',sans-serif;
        letter-spacing: -.25px;
        line-height: 1.4;
        margin: 274px 0px 0px 10px;
    }

</style>

<div id="particles-js">
    @using (Html.BeginForm("Login", "Home", FormMethod.Post))
    {

        <fieldset>
          
            <div class="header">
                <img src="~/fonts/images/vergi-dairesi.jpg" class="img-rounded" width="30%" height="20%">
                <p>Vergi Dairesi Başkanlığı</p>
                <h3>e-Vergi Giriş Sistemi</h3>

                <div class="alt-header">
                   


                    @Html.AntiForgeryToken()
                    @Html.ValidationSummary(true)

                    @if (@ViewBag.Message != null)
                {
                        <div style="border: 1px solid red">
                            @ViewBag.Message
                        </div>
                    }
                    <table>
                        <tr>
                            <td>
                                <label>TC NO</label>
                            </td>

                            <td>
                                @Html.TextBoxFor(a => a.tc_no, new { Class="Txt"})
                            </td>

                            <td>
                                @Html.ValidationMessageFor(a => a.tc_no)
                            </td>
                        </tr>

                        <tr>
                            <td>
                                <label>Şifre</label>
                            </td>
                            
                            <td>
                                @Html.PasswordFor(a => a.password)
                            </td>
                            <td>
                                @Html.ValidationMessageFor(a => a.password)
                            </td>
                        </tr>
                        <tr>
                            <td></td>
                            <td>
                                <input type="submit" value="Giris" class="btn btn-primary" style="margin-left:100px" />
                                
                            </td>
                            <td></td>
                        </tr>
                    </table>
                </div>

                <h4>© 2017, Ammarik - Tüm Hakları Saklıdır</h4>
            </div>
        </fieldset>
    }
</div>

